body {
    background: rgb(40, 40, 40);
}

#navbar {
    background-color: rgb(29, 29, 29); 
}

#header a:hover {
    color: rgb(30, 254, 119);
}

#bg-img {
    background: url('../images/romaintrystram-jungle-islands.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
}

.card {
    color: white;
    background-color: rgb(19, 29, 29);
    border-style: groove;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    opacity: 0.95;
}

#about {
    margin-top: -200px;
}

#about .fa {
    color: darkslateblue;
}

#about span {
    /* top,left,bottom,right */
    padding: 10px 20px 10px 20px;
}

#about p {
    padding: 10px 20px 10px 20px;
}

#about .bio {
    background-color:  rgb(19, 29, 29);
    border-style: groove;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-top-color: #d03e54; /* matched bootstrap danger red*/
    border-radius: 10px;
    color: honeydew;
    margin-top: 5px;
}

#skills span {
    /* top,left,bottom,right */
    padding: 10px 20px 10px 20px;
}

#skills hr {
    border-width: 2px;
    margin-top: 6px;
}

#projects span {
    /* top,left,bottom,right */
    padding: 10px 20px 10px 20px;
}

#projects hr {
    border-width: 2px;
    margin-top: 6px;
}

#projects .card {
    background-color:  rgb(19, 29, 29);
    border-top: 3px solid rgb(150, 48, 218);
}

#contact span {
    /* top,left,bottom,right */
    padding: 10px 20px 10px 20px;
}

#contact hr {
    border-width: 2px;
    margin-top: 6px;
}