body {
    background: #CCC;
}

#header a:hover {
    color: lime;
}

#bg-img {
    background: url('../images/romaintrystram-jungle-islands.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
}

#about {
    margin-top: -200px;
}

#about .fa {
    color: #FFF;
}

#about span {
    /* top,left,bottom,right */
    padding: 10px 20px 10px 20px;
}

#about hr {
    border-width: 2px;
    margin-top: 6px;
}

#skills span {
    /* top,left,bottom,right */
    padding: 10px 20px 10px 20px;
}

#skills hr {
    border-width: 2px;
    margin-top: 6px;
}

#projects span {
    /* top,left,bottom,right */
    padding: 10px 20px 10px 20px;
}

#projects hr {
    border-width: 2px;
    margin-top: 6px;
}

#projects .card {
    border-top: 3px solid rgb(150, 48, 218);
}

#contact span {
    /* top,left,bottom,right */
    padding: 10px 20px 10px 20px;
}

#contact hr {
    border-width: 2px;
    margin-top: 6px;
}